body {
  background: linear-gradient(to bottom right, #ee9ca7, #ffdde1); /*used to make the background color gradient*/
  margin-left: 0px;                                                   /*background did not fit whole window for some reason so margin-left to get it to*/
}

.ccsticky-nav { /*used to make the sticky header scroll and the zone for the height and width and color of it */
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  background: linear-gradient(to right, #ee9ca7, #ffdde1);
}
.ccsticky-nav ul { /*used to style the words in the sticky header */
  padding: 20px;
  margin: 0 auto;
  list-style: none;
}
.main-nav {/*used to align the text in the sticky header */
  display: flex;
  align-items: center;
  text-align: left;
}
.ccsticky-nav ul li { /*used to make all the text in the sticky header to be inline */
  display: inline-block;
  margin: 0 10px;
}
.tenLink{/* change the color of text to pink*/
  color: #ee9ca7;
}
.ccsticky-nav ul li a {/*change all styling of the text in the sticky header also the transition */
  padding: 10px 0;
  color: #fff;
  font-size: 1rem;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.2s ease;
}

.ccsticky-nav ul li a:hover { /* change the color of the words in the sticky header when hovered over*/
  color: #34495e;
}
.section1 {/*contains one section of the website which changes the color and has a scrolldown option if it overflows over the bounds */
  overflow-y: auto;
  width: auto;
  padding: 70px;
  height: 400px;
  text-align: center;
  margin-top: 10px;
  margin-left: 150px;
  margin-right: 150px;
  background-color: #008080;
}
.section2 {/*contains one section of the website which changes the color and has a scrolldown option if it overflows over the bounds */
  overflow-y: auto;
  width: auto;
  padding: 50px;
  height: 400px;
  text-align: center;
  margin-top: 10px;
  margin-left: 150px;
  margin-right: 150px;
  background-color: #7a5c58;
}
h2 {/* change the size and font and color of heading 2*/
  font-size: 36px;
  font-family: Libre Franklin;
  color: white;
}
h3 {/*change the font and color of heading 2 */
  font-family: Libre Franklin;
  color: white;
}
.intro {/*change the font of the text in the intro */
  font-family: Libre Franklin;
  color: white;
}
h1 {/*changes thg size font and color of heading 1 */
  font-size: 36px;
  font-family: Libre Franklin;
  color: white;
}
.content {/*makes the images and words have a 60/40 split in the sections */
  display: grid;
  grid-template-columns: 60% 40%;
}
.imgs {/*changes size of the image and makes a transition with them */
  width: 100%;
  max-width: 300px;
  height: auto;
  transition: 1s ease;
  object-fit: contain;
  border-radius: 50%;
}
img:hover {/*when hovering over images it makes them scale */
  transform: scale(1.1);
  transition: 1s ease;
}
.images {/*changes the style of the images */
  display: flex;
  justify-content: center;
}
.container {/*container to make the display flex */
  display: flex;
}
table {/* style the table with borders and shadows*/
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  z-index: 2;
  width: 60%;
  border-collapse: collapse;
  border-spacing: 0;
  box-shadow: 0 2px 15px rgba(64, 64, 64, 0.7);
  border-radius: 12px 12px 0 0;
}
td,
th {/*styles the td and th */
  padding: 15px 20px;
  text-align: center;
  padding: 7px;
  border: #4e95f4 thin solid;
}
th {/*styles just the th with different colors and font */
  background-color: #ee9ca7;
  color: #fafafa;
  font-family: fantasy;
  font-weight: 200;
  text-transform: uppercase;
}
tr {/*changes the tr with a font and color */
  width: 100%;
  background-color: #fafafa;
  font-family: fantasy;
}
tr:nth-child(even) {/*every even tr background color is grey */
  background-color: #eeeeee;
}
.table_schedule:hover tr:hover {/* when hovering over the schedule background color is pink*/
  background-color: #ffdde1;
}
footer {/*styles the footer with background and text color */
  text-align: center;
  padding: 3px;
  background-color: #d76d7b;
  color: white;
  margin-right: -8px;
  margin-bottom: -10px;
}
.footimg {/* styles the width and height of the images(github)*/
  width: 70px;
  max-width: 300px;
  height: 40px;
  transition: 1s ease;
}
.footimgl {/* styles the width and height of the images(linkin)*/
  margin-top: 10px;
  width: 40px;
  max-width: 300px;
  height: 40px;
  transition: 1s ease;
}
.schedule_text {/*change the font and align of the text in the schedule */
  text-align: center;
  font-family: fantasy;
}
